@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap');
#top {
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	-webkit-appearance: none;
}

@import 'utils/variables';

@import 'mixins/media';

@import 'common/global';

@import 'common/buttons';

@import 'common/text';

@import 'common/header';

@import 'common/popup';

@import 'common/footer';

@import 'pages/common/offer';
@import 'pages/common/offer-2';
@import 'pages/common/feedback';
@import 'pages/common/banky-partners';
@import 'pages/common/contacts';

// Общие блоки
@import 'pages/mainPage/01-main';
@import 'pages/mainPage/02-features';
@import 'pages/mainPage/03-typePost';
@import 'pages/mainPage/04-about';
@import 'pages/mainPage/05-calculate';

@import 'pages/ipoteka/01-main';
@import 'pages/ipoteka/02-visual';
@import 'pages/ipoteka/03-how-calc';
@import 'pages/ipoteka/04-features';
@import 'pages/ipoteka/05-how-me';
@import 'pages/ipoteka/06-how-start';
