@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap');
#top {
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	-webkit-appearance: none;
}

@import 'utils/variables';

@import 'mixins/media';

@import 'common/global';

@import 'common/buttons';

@import 'common/text';

@import 'common/header';

@import 'common/popup';

@import 'common/footer';

// Общие блоки
@import 'pages/mainPage/01-main';
@import 'pages/mainPage/02-features';
@import 'pages/mainPage/03-typePost';
@import 'pages/mainPage/04-about';
@import 'pages/mainPage/05-calculate';
