section.building-main
  .container
    h1 Строительство домов
    .building-main__body
      .building-main__content
        p Те, кто долго живут в мегаполисах с бешенным ритмом жизни, в определенный момент задумываются о домике в деревне, ну или частном секторе, в черте города. В доме можно делать что-угодно в любое время суток, выращивать помидоры в огороде или разводить пчел. Поэтому ипотека на дом не менее востребована, чем на квартиру.
        p <b>Компания «Альфа ключ» помогает в оформлении ипотечного кредитования:</b>
        ul
          li Низкая процентная ставка.
          li Удобные способы погашения.
          li Оптимальный срок и размер выплат.
          li Юридическая чистота сделки
          li Консалтинговая помощь на весь период кредитования.
        p Мы имеем обширные партнерские отношения с крупными кредиторами. Благодаря этому, наши клиенты получают только самые выгодные условия кредитования.
      .building-main__block
          img(src="assets/img/uploads/home_1.png", alt="")
