section.building-product
  .container
    h2 Каркасное домостроение
    .building-product__body
      .building-product__image
        img(src="assets/img/uploads/home_2.png", alt="")
      .building-product__content
        p По этой технологии строительства частных домов каркас устанавливается на свайный или бетонный фундамент – в зависимости от вида грунта и веса дома. Сам каркас делается из разных материалов – чаще всего это дерево, но также применяются легкие стальные тонкостенные конструкции (ЛСТК технология).
        p Выбор материала делается в зависимости от условий, в которых будет возводиться дом и финансовых возможностей. Металлический каркас дороже деревянного, хотя если дерево правильно обработать, то по качеству и прочности скорее всего ощутимой разницы не будет.
        p <b>Главное – использовать качественный брус,</b> который сможет служить долгое время, сохраняя свои свойства.
        a.btn(href="#") Узнать условия кредита
    .building-product__items
      .building-product__card.building-card
        .building-card__cover
          img(src="assets/img/uploads/cover_card.png", alt="")
        .building-card__content
          .building-card__head
            p.building-card__size <b>132 м2</b> 9х9
            p.building-card__loft <b>2</b>
            p.building-card__room <b>3</b>
            p.building-card__bath <b>1</b>
          p.subtitle Каркасный дом
          h3 К-1
          .building-card__price от 5 214 000 ₽
          a.btn(href="#") Посмотреть проект
      .building-product__card.building-card
        .building-card__cover
          img(src="assets/img/uploads/cover_card.png", alt="")
        .building-card__content
          .building-card__head
            p.building-card__size <b>132 м2</b> 9х9
            p.building-card__loft <b>2</b>
            p.building-card__room <b>3</b>
            p.building-card__bath <b>1</b>
          p.subtitle Каркасный дом
          h3 К-1
          .building-card__price от 5 214 000 ₽
          a.btn(href="#") Посмотреть проект
      .building-product__card.building-card
        .building-card__cover
          img(src="assets/img/uploads/cover_card.png", alt="")
        .building-card__content
          .building-card__head
            p.building-card__size <b>132 м2</b> 9х9
            p.building-card__loft <b>2</b>
            p.building-card__room <b>3</b>
            p.building-card__bath <b>1</b>
          p.subtitle Каркасный дом
          h3 К-1
          .building-card__price от 5 214 000 ₽
          a.btn(href="#") Посмотреть проект
    .building-product__features
      h3 Преимущества и недостатки
      .building-product__list
        .building-product__column.yes
          .building-product__item
            p <b>Низкая стоимость</b>
          .building-product__item
            p <b>Высокая скорость строительства</b> (команда из шести человек может построить дом всего за месяц)
          .building-product__item
            p <b>Коммуникационные системы легко прокладываются внутри стен</b>
        .building-product__column.no
          .building-product__item
            p <b>Низкая стоимость</b>
          .building-product__item
            p <b>Высокая скорость строительства</b> (команда из шести человек может построить дом всего за месяц)
          .building-product__item
            p <b>Коммуникационные системы легко прокладываются внутри стен</b>
