section.main-slider#main-slider
  .swiper-wrapper
    .swiper-slide
      .main-slider__main(style="background: url('assets/img/uploads/mainSlider-1.jpeg') center center / cover no-repeat")
        .container
          .main-slider__body
            .main-slider__subtitle
              p ипотека
            .main-slider__title
              h2 <i>0</i>%
            .main-slider__text
              p Ипотечное кредитование 0% <br> на период строительства!
            a.btn.main-slider__btn(href="#") Оставить заявку
    .swiper-slide
      .main-slider__main(style="background: url('assets/img/uploads/mainSlider-2.jpeg') center center / cover no-repeat")
        .container
          .main-slider__body
            .main-slider__subtitle
              p Семейная ипотека
            .main-slider__title
              h2 <i>1.7</i>%
            .main-slider__text
              p Одобряем без подтверждения дохода <br> и с любой кредитной историей
            a.btn.main-slider__btn(href="#") Оставить заявку
    .swiper-slide
      .main-slider__main(style="background: url('assets/img/uploads/mainSlider-3.jpeg') center center / cover no-repeat")
        .container
          .main-slider__body
            .main-slider__subtitle
              p Ваш дом за
            .main-slider__title
              h2 <i>60</i> дней
            .main-slider__text
              p За 60 дней Вы получаете капитальный дом <br> с готовым фундаментом, стенами, окнами, дверью <br> и утепленной крышей
            a.btn.main-slider__btn(href="#") Оставить заявку
    .swiper-slide
      .main-slider__main(style="background: url('assets/img/uploads/mainSlider-4.jpeg') center center / cover no-repeat")
        .container
          .main-slider__body
            .main-slider__subtitle
              p Ипотека на строительство
            .main-slider__title
              h2 современного коттеджа
            .main-slider__text
              p Одобряем без подтверждения дохода <br> и с любой кредитной историей
            a.btn.main-slider__btn(href="#") Оставить заявку
    .swiper-slide
      .main-slider__main(style="background: url('assets/img/uploads/mainSlider-5.jpeg') center center / cover no-repeat")
        .container
          .main-slider__body
            .main-slider__subtitle
              p Ипотека в Москве и области на
            .main-slider__title
              h2 каркасные дома под ключ
            .main-slider__text
              p Одобряем без подтверждения дохода <br> и с любой кредитной историей
            a.btn.main-slider__btn(href="#") Оставить заявку
  .main-slider__footer
    .container
      .main-slider__pagination
      .main-slider__btn-group
        button.main-slider__button.main-slider__button--prev
          <svg fill="none" height="24" stroke-width="1.5" width="24" xmlns="http://www.w3.org/2000/svg">
            <path d="M15 6l-6 6 6 6" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        button.main-slider__button.main-slider__button--next
          <svg fill="none" height="24" stroke-width="1.5" width="24" xmlns="http://www.w3.org/2000/svg">
            <path d="M15 6l-6 6 6 6" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
