section.main-features
  .container
    .main-features__body
      .main-features__item
        .main-features__icon
          img(src="assets/img/uploads/money.png", alt="")
        h3 Экономим ваши деньги и время
        p Мы добиваемся того, что более 95% наших клиентов платят меньше
      .main-features__item
        .main-features__icon
          img(src="assets/img/uploads/timer.png", alt="")
        h3 Быстрое одобрение кредита
        p От 1 до 3 рабочих дней - это максимум, сколько Вам придется ждать
      .main-features__item
        .main-features__icon
          img(src="assets/img/uploads/deplom.png", alt="")
        h3 100% официальное проведение сделки
        p Все максимально прозрачно и предоставляется обратная связь на каждом этапе сделки
      .main-features__item
        .main-features__icon
          img(src="assets/img/uploads/user.png", alt="")
        h3 Профессиональные консультации
        p Даем полную информацию на первой же встрече, посвящаем во все нюансы
