section.type-post
  .container
    h2.type-post__title Виды кредитов
    .type-post__body
      .type-post__item
        .type-post__icon
          img(src="assets/img/uploads/home.png", alt="")
        h3.type-post__name Ипотека на строительство дома
        p.type-post__descr Постройте свой дом, о котором мечтали — на выгодных условиях
        a.btn.type-post__btn(href="#") Подробнее
      .type-post__item
        .type-post__icon
          img(src="assets/img/uploads/hank.png", alt="")
        h3.type-post__name Ипотека без первого взноса
        p.type-post__descr Низкая ставка на покупку квартиры в новостройке, дом  или строительство дома
        a.btn.type-post__btn(href="#") Подробнее
      .type-post__item
        .type-post__icon
          img(src="assets/img/uploads/famaly.png", alt="")
        h3.type-post__name Семейная ипотека
        p.type-post__descr Программа для семей, где хотя бы один ребёнок родился после 2018 года включительно или есть ребёнок с инвалидностью
        a.btn.type-post__btn(href="#") Подробнее
      .type-post__item
        .type-post__icon
          img(src="assets/img/uploads/talk.png", alt="")
        h3.type-post__name Ипотека для иностранцев
        p.type-post__descr Жильё на территории РФ для иностранных граждан
        a.btn.type-post__btn(href="#") Подробнее
      .type-post__item
        .type-post__icon
          img(src="assets/img/uploads/keys.png", alt="")
        h3.type-post__name Ипотека на новостройки
        p.type-post__descr Покупка квартиры или жилого дома от застройщика, участка с жилым домом или строительство дома
        a.btn.type-post__btn(href="#") Подробнее
      .type-post__item
        .type-post__marker Акция
        .type-post__icon
          img(src="assets/img/uploads/money-star.png", alt="")
        h3.type-post__name Оплата процентов по ипотека за вас
        p.type-post__descr По договору залога ваша недвижимость будет защищена законом
        a.btn.type-post__btn(href="#") Подробнее
