section.main-about
  .container
    .main-about__body
      .main-about__numbers
        .main-about__item
          h3 <i>2</i> дня
          p Средний срок выдачи денег с момента заявки
        .main-about__item
          h3 <i>27</i> млрд.₽
          p Было выдано нашим клиентам
        .main-about__item
          h3 <i>98</i>%
          p Вероятность одобрения заявки
        .main-about__item
          h3 <i>15</i>
          p Квалифицированных сотрудника
      .main-about__content
        h2 О компании
        p Наша компания была образована в разгар финансового кризиса топ-менеджерами крупнейших российских банков.
        p Целью компании являлось оказание поддержки тем, кому повсеместно в данной поддержке было отказано.
        p На сегодняшний день она достигнута, и превратилась из цели в миссию, которую мы успешно осуществляем уже много лет.
        a.btn(href="#") Подробнее
