footer.new-footer
  .container
    .new-footer__wrapper
      .new-footer__colum
        .new-footer__logo
          img(src="assets/img/logo.png", alt="Logo")
        .new-footer-copyright
          .new-footer-copyright__icon
            .new-footer-copyright__toast
              p Сервис не является бaнкoм или кpeдитopoм, не относится к финaнcoвым учреждениям и не несёт ответственности за последствия любых заключенных договоров кpeдитoвaния или условия по ним. Проект осуществляет только подбор кpeдитов между лицом, желающим взять кpeдит, и кpeдитными учреждениями, которые на основании ФЗ «О потребительском кpeдите (зaймe)» от 21.12.2013 № 353-ФЗ имеют право осуществлять профессиональную деятельность по предоставлению потребительских зaймoв. ВАЖНО: предоплату берут только мошенники!
              p Сайт не является представительством бaнкa, не осуществляет выдачу зaймoв и кpeдитoв. Все рекомендуемые и/или упоминаемые на сайте кpeдитныe учреждения имеют соответствующие лицензии. Условия неуплаты можно уточнить на сайтах бaнкoв.
              p Заявка направляется в бaнки-партнеры. Лицензии организаций-партнеров: №1481, №2673, №1326, №1460, №3251, №3354, №2120177002022, №1127746537764, №2110552000304, №2120742002054, №651303045004102, №2120754001243, №651303552003006, №651303045003951, №1145476064711, №651303042002657, №651303045003161
          .new-footer-copyright__text
            p 2015-2022 © Компания “Альфаключ”.</br> Все права защищены.
        .new-footer__author
          p Дизай сайта: <a href="https://pvadesign.ru/" target="_blank">pvadesign.ru</a>
          p Разработка сайта: <a href="https://good-bit.ru/" target="_blank">good-bit.ru</a>
      nav.new-footer__menu
        ul.menu
          li.menu-item
            a(href="#") О компании
          li.menu-item
            a(href="#") Лицензии
          li.menu-item
            a(href="#") Отзывы
          li.menu-item
            a(href="#") Новости
          li.menu-item
            a(href="#") Контакты
      .new-footer__menu
        ul.menu
          li.menu-item
            a(href="#") Ипотека на строительство дома
          li.menu-item
            a(href="#") Семейная ипотека
          li.menu-item
            a(href="#") Ипотека без первого взноса
          li.menu-item
            a(href="#") Ипотека для иностранцев
          li.menu-item
            a(href="#") Ипотека на новостройки
          li.menu-item
            a(href="#") Оплата процентов по ипотеке за вас
