header.new-header.decktop-header
  .new-header-top
    .container
      .new-header-top__search.new-search
        form( method="get" action="https://alfaklych.ru/")#searchform
          .new-search-icon
          input(type="text" name="s" placeholder="Поиска").field
          input(type="submit" class="submit" value="" style="display:none;")
      .new-header-top__email
        a(href="mailto:info@alfaklych.ru") info@alfaklych.ru
      .new-header-top__address
        p г. Москва, пр-кт Мира, д. 68,стр.1а, офис 408
      .new-header-top__socials
        a(href="mailto:info@alfaklych.ru").new-header-top__social
          img(src="assets/img/vk.png", alt="")
        a(href="mailto:info@alfaklych.ru").new-header-top__social
          img(src="assets/img/ok.png", alt="")
  .new-header-bottom
    .container
      .new-header-logo
        img(src="assets/img/logo.png", alt="")
      nav.new-header-menu
        ul.menu
          li.menu-item.menu-item-has-children
            a(href="#") О компании
            ul.sub-menu
              li.menu-item
                a(href="#") Лицинзии
              li.menu-item
                a(href="#") Партнерска программа
          li.menu-item.menu-item-has-children
            a(href="#") Услуги
            ul.sub-menu
              li.menu-item
                a(href="#") Ипотека на строительство дома
              li.menu-item
                a(href="#") Семейная ипотека
              li.menu-item
                a(href="#") Ипотека без первого взноса
              li.menu-item
                a(href="#") Ипотека для иностранцев
              li.menu-item
                a(href="#") Ипотека на новостройки
              li.menu-item
                a(href="#") Оплата процентов по ипотеке за вас
          li.menu-item
            a(href="#") Отзывы
          li.menu-item
            a(href="#") Контакты
      .new-header-contacts
        a.new-header__tel(href="#") +7 (495) 266 61 61
        a.new-header__order(href="#") заказать звонок


header.new-header.mobile-header
  .new-header-top
    .container
      .new-header-top__email
        a(href="mailto:info@alfaklych.ru") info@alfaklych.ru
      .new-header-top__tel
        a(href="mailto:info@alfaklych.ru") +7 (495) 266 61 61
      .new-header-top__socials
        a(href="mailto:info@alfaklych.ru").new-header-top__social
          img(src="assets/img/vk.png", alt="")
        a(href="mailto:info@alfaklych.ru").new-header-top__social
          img(src="assets/img/ok.png", alt="")
  .new-header-bottom.mobile
    .container
      .new-header-logo
        img(src="assets/img/logo.png", alt="")
      button.new-header-burger
        #hamburger
          span
          span
          span
        #cross
          span
          span
  .new-header-mobile-menu
    .container
      .new-header-top__search.new-search
        form( method="get" action="https://alfaklych.ru/")#searchform
          .new-search-icon
          input(type="text" name="s" placeholder="Поиска").field
          input(type="submit" class="submit" value="" style="display:none;")
      nav.new-header-menu
        ul.menu
          li.menu-item.menu-item-has-children
            a(href="#") О компании
            ul.sub-menu
              li.menu-item
                a(href="#") Лицинзии
              li.menu-item
                a(href="#") Партнерска программа
          li.menu-item.menu-item-has-children
            a(href="#") Услуги
            ul.sub-menu
              li.menu-item
                a(href="#") Ипотека на строительство дома
              li.menu-item
                a(href="#") Семейная ипотека
              li.menu-item
                a(href="#") Ипотека без первого взноса
              li.menu-item
                a(href="#") Ипотека для иностранцев
              li.menu-item
                a(href="#") Ипотека на новостройки
              li.menu-item
                a(href="#") Оплата процентов по ипотеке за вас
          li.menu-item
            a(href="#") Отзывы
          li.menu-item
            a(href="#") Контакты
      .new-header-contacts
        a.new-header__email(href="mailto:info@alfaklych.ru") info@alfaklych.ru
        a.new-header__tel(href="#") +7 (495) 266 61 61
        a.new-header__order(href="#") заказать звонок
