section.parthers
  .container
    h2.parthers__title Банки-партнеры
    .parthers__wrapper
        img(src="assets/img/banky/absolut.jpg", alt="")
        img(src="assets/img/banky/akbars.jpg", alt="")
        img(src="assets/img/banky/alfa.jpg", alt="")
        img(src="assets/img/banky/domrf.jpg", alt="")
        img(src="assets/img/banky/gazprombank.jpg", alt="")
        img(src="assets/img/banky/mkb.jpg", alt="")
        img(src="assets/img/banky/otkritie.jpg", alt="")
        img(src="assets/img/banky/psb.jpg", alt="")
        img(src="assets/img/banky/raiffaisen.jpg", alt="")
        img(src="assets/img/banky/ros.jpg", alt="")
        img(src="assets/img/banky/rosselkhoz.jpg", alt="")
        img(src="assets/img/banky/sanktpeterburg.jpg", alt="")
        img(src="assets/img/banky/sberbank.jpg", alt="")
        img(src="assets/img/banky/sovkom.jpg", alt="")
        img(src="assets/img/banky/uralsib.jpg", alt="")
        img(src="assets/img/banky/vtb.jpg", alt="")
