section.feedbacks
  .container
    h2.feedbacks__title Отзывы
    .feedbacks__slider
      .swiper-wrapper
        .swiper-slide
          .feedbacks__item
              .feedbacks__video
                video(src="/assets/video.mp4" autoplay controls)
              .feedbacks__content
                p Приятно удивлен оперативностью и компетентностью персонала. Заказ быстро собран, надежно упакован и отправлен. Получил всё в целости. Спасибо! Приятно Заказ быстро собран, надежно упакован и отправлен. Получил всё в целости. Спасибо!
                a(href="#") Читать полностью
          .feedbacks-item__footer
            h3 Кладницкая Светлана Витальевна
            span 9 апреля 2022
        .swiper-slide
          .feedbacks__item
              .feedbacks__video
                video(src="/assets/video.mp4" autoplay controls)
              .feedbacks__content
                p Приятно удивлен оперативностью и компетентностью персонала. Заказ быстро собран ,надежно упакован и отправлен. Получил всё в целости. Спасибо! Приятно Заказ быстро собран ,надежно упакован и отправлен. Получил всё в целости. Спасибо!
                a(href="#") Читать полностью
          .feedbacks-item__footer
            h3 Кладницкая Светлана Витальевна
            span 9 апреля 2022
        .swiper-slide
          .feedbacks__item
              .feedbacks__video
                video(src="/assets/video.mp4" autoplay controls)
              .feedbacks__content
                p Приятно удивлен оперативностью и компетентностью персонала. Заказ быстро собран ,надежно упакован и отправлен. Получил всё в целости. Спасибо! Приятно Заказ быстро собран ,надежно упакован и отправлен. Получил всё в целости. Спасибо!
                a(href="#") Читать полностью
          .feedbacks-item__footer
            h3 Кладницкая Светлана Витальевна
            span 9 апреля 2022
    .feedbacks__footer
      a.btn.feedbacks__btn(href="#") Все отзывы
      .feedbacks__btn-group
        button.feedbacks__button.feedbacks__button--prev
          <svg fill="none" height="24" stroke-width="1.5" width="24" xmlns="http://www.w3.org/2000/svg">
            <path d="M15 6l-6 6 6 6" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        button.feedbacks__button.feedbacks__button--next
          <svg fill="none" height="24" stroke-width="1.5" width="24" xmlns="http://www.w3.org/2000/svg">
            <path d="M15 6l-6 6 6 6" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
