section.offer
  .container
    .offer__wrapper
      .offer__content
        h2 Персональная консультация
        p Наш менеджер перезвонит вам в течение 15 минут
      .offer__form
        form(action="")
          input(type="text" placeholder="Имя")
          input(type="tel" placeholder="Телефон")
          input(type="submit", value="Заказать звонок").btn
          .offer-checked
            input#policy(type="checkbox", name="")
            label(for="policy") Согласие на обработку <a href="#">персональных данных</a>
