section.offer-2
  .container
    .offer-2__wrapper
      .offer-2__content
        h2 Хотите взять квартиру в ипотеку без первоначального взноса?
        p Запишитесь на бесплатную консультацию прямо сейчас!
      .offer-2__form
        form(action="")
          input(type="text" placeholder="Имя")
          input(type="tel" placeholder="Телефон")
          input(type="submit", value="Заказать звонок").btn
          .offer-2-checked
            input#policy(type="checkbox", name="")
            label(for="policy") Согласие на обработку <a href="#">персональных данных</a>
