extends common/layout

block content
  main.content
      include includes/mainPage/01-main
      include includes/mainPage/02-features
      include includes/mainPage/03-typePost
      include includes/mainPage/04-about
      include includes/mainPage/05-calculate
      include includes/common/offer
      include includes/common/feedback
      include includes/common/banky-partners
      include includes/common/contacts
