extends common/layout

block content
  main.content
      include includes/ipoteka_now/01-main
      include includes/mainPage/05-calculate
      include includes/ipoteka_now/02-complex
      include includes/common/offer
      include includes/common/banky-partners
      include includes/common/contacts
