extends common/layout

block content
  main.content
      include includes/ipoteka/01-main
      include includes/mainPage/05-calculate
      include includes/ipoteka/02-visual
      include includes/ipoteka/03-how-calc
      include includes/ipoteka/04-features
      include includes/common/offer
      include includes/ipoteka/05-how-me
      include includes/ipoteka/06-how-start
      include includes/common/offer-2
      include includes/common/banky-partners
      include includes/common/contacts
