extends common/layout

block content
  main.content
      include includes/str_doma/01-main
      include includes/mainPage/02-features
      include includes/str_doma/02-product
      include includes/common/offer
      include includes/str_doma/02-product
      include includes/mainPage/05-calculate
      include includes/str_doma/02-product
      include includes/common/feedback
      include includes/str_doma/02-product
      include includes/common/contacts
