section.now-complex
  .container
    h2 Жилые комплексы для получения ипотеки
    .now-complex__cards
      .now-complex__card
        .now-complex__cover
          img(src="assets/img/uploads/cover_card.png", alt="")
        .now-complex__content
          .now-complex__head
            p.now-complex__time 10 мин
            p.now-complex__address Пятницкое шоссе
          h3 ЖК Большое Путилково
          .now-complex__price от 5 214 000 ₽
          a.btn(href="#") Посмотреть проект
      .now-complex__card
        .now-complex__cover
          img(src="assets/img/uploads/cover_card.png", alt="")
        .now-complex__content
          .now-complex__head
            p.now-complex__time 10 мин
            p.now-complex__address Пятницкое шоссе
          h3 ЖК Большое Путилково
          .now-complex__price от 5 214 000 ₽
          a.btn(href="#") Посмотреть проект
      .now-complex__card
        .now-complex__cover
          img(src="assets/img/uploads/cover_card.png", alt="")
        .now-complex__content
          .now-complex__head
            p.now-complex__time 10 мин
            p.now-complex__address Пятницкое шоссе
          h3 ЖК Большое Путилково
          .now-complex__price от 5 214 000 ₽
          a.btn(href="#") Посмотреть проект
      .now-complex__card
        .now-complex__cover
          img(src="assets/img/uploads/cover_card.png", alt="")
        .now-complex__content
          .now-complex__head
            p.now-complex__time 10 мин
            p.now-complex__address Пятницкое шоссе
          h3 ЖК Большое Путилково
          .now-complex__price от 5 214 000 ₽
          a.btn(href="#") Посмотреть проект
