section.ipoteka-main
  .container
    h1 Ипотека без первоначального взноса
    .ipoteka-main__body
      .ipoteka-main__numbers
        .ipoteka-main__item
          h2 до <i>30</i> млн. ₽
          p Сумма кредита
        .ipoteka-main__item
          h2 до <i>30</i> лет
          p Срок кредита
        .ipoteka-main__item
          h2 от <i>7,8%</i>
          p Процентная ставка
        .ipoteka-main__item
          h2 <i>1</i> день
          p Срок рассмотрения
      .ipoteka-main__block
        .ipoteka-main__image
          img(src="assets/img/uploads/ipoteka-image.jpg", alt="")
        .ipoteka-main__content
          ul
            li Ипотека на новостройки и вторичное жилье
            li Ипотека по 2м документам
            li Ипотека без первоначального взноса
            li Ипотека для иностранцев
            li Ипотека с плохой кредитной историей
            li Ипотека без страховаия жизни
          a.btn.ipoteka-main__btn(href="#") Узнать условия кредита
