section.ipoteka-visual
  .container
    h2 Оформление ипотеки без первоначального взноса "под ключ"
    p До сих пор считаете, что невозможно приобрести недвижимость в ипотеку без оплаты первоначального взноса? Мы на собственном опыте доказываем обратное. Накопить сумму, требуемую банком, иной раз сложно, особенно если речь идет о покупке квартиры  в больших городах. Поэтому мы предлагаем четыре рабочих варианта оформления ипотеки с минимальным взносом или вовсе без него.
    .ipoteka-visual__wrapper
      h3 Как такое возможно?
      .ipoteka-visual__blocks
        .ipoteka-visual__item
          .ipoteka-visual__number 1
          .ipoteka-visual__content
            p У некоторых банков существуют готовые ипотечные программы, которые не предусматривают первоначального взноса. Чтобы скомпенсировать риски, финансовые учреждения <b>ненамного завышают ставки</b>, а также с особой тщательностью подходят к вопросу одобрения ипотеки.
        .ipoteka-visual__item
          .ipoteka-visual__number 2
          .ipoteka-visual__content
            p Оформление ипотечного <b>договора под залог уже имеющейся недвижимости</b>. Мы рекомендуем этот способ для тех, кто планирует переехать в другой регион и не хочет тратить деньги на съем жилья в новом городе.
        .ipoteka-visual__item
          .ipoteka-visual__number 3
          .ipoteka-visual__content
            p Приобретение недвижимости <b>со скидкой до 20%</b> от среднерыночной цены.
        .ipoteka-visual__item
          .ipoteka-visual__number 4
          .ipoteka-visual__content
            p Покупка недвижимости за счет <b>потребительского кредитования</b>. Если финансовое положение позволяет, то на сумму первоначального взноса выдается кредит, после чего можно оформить ипотеку согласно обычной процедуре.
      p Впрочем, наши специалисты знают и другие варианты покупки ипотечного жилья для тех, у кого нет средств на первоначальный взнос. <b>Запишитесь на бесплатную консультацию</b> – и мы расскажем, какой из них лучше всего подойдет для вашей ситуации.
      a.btn(href="#") Проконсультироваться
