section.ipoteka-how
  .container
    h2 Кто может рассчитывать на ипотеку без первого взноса?
    .ipoteka-how__wrapper
      .ipoteka-how__item
        .ipoteka-how__icon
          img(src="assets/img/uploads/calc-1.png", alt="")
        h3 Граждане с наличием высокого, стабильного дохода.
        p При условии положительной кредитной истории.
      .ipoteka-how__item
        .ipoteka-how__icon
          img(src="assets/img/uploads/calc-2.png", alt="")
        h3 Возраст ограничен
        p Многие банковские заведения не работают с лицами старше 65 лет и младше 19 лет.
      .ipoteka-how__item
        .ipoteka-how__icon
          img(src="assets/img/uploads/calc-4.png", alt="")
        h3 При наличии сберегательного счета в банке для зарплатных клиентов
      .ipoteka-how__item
        .ipoteka-how__icon
          img(src="assets/img/uploads/calc-5.png", alt="")
        h3 В случае наличия имущества под залог (недвижимости)
        p Также эта категория может рассчитывать на более лояльную ставку.
      .ipoteka-how__item
        .ipoteka-how__icon
          img(src="assets/img/uploads/calc-6.png", alt="")
        h3 При участии в специальных программах по первоначальному взносу
      .ipoteka-how__item
        .ipoteka-how__icon
          img(src="assets/img/uploads/calc-7.png", alt="")
        h3 С внесением материнского капитала
        p Однако следует своевременно оплачивать суммы, в ином случае эта часть вложенных средств может быть исключена из займа.
