section.ipoteka-features
  .container
    h2 Какие преимущества дает ипотека без первого взноса?
    .ipoteka-features__wrapper
      .ipoteka-features__list.yes
        .ipoteka-features__item
          h3 Нет необходимости сбора первой суммы.
          p На взнос нередко приходится долго копить, а это вызывает неудобства и заставляет дольше снимать жилье или ютиться в дискомфорте
        .ipoteka-features__item
          h3 Гарантия юридической чистоты.
          p Поскольку банкиры и юристы заведений очень переживают за свои деньги, проверка сделок реализуется очень тщательно
        .ipoteka-features__item
          h3 При покупке через застройщика банк также принимает на себя риски
        .ipoteka-features__item
          h3 Возможность кредитования в непростых условиях

      .ipoteka-features__list.no
        .ipoteka-features__item
          h3 Невозможность участия в ряде льготных кредитов
        .ipoteka-features__item
          h3 Более высокие ставки
        .ipoteka-features__item
          h3 Повышенные требования к заемщикам
    .ipoteka-features__footer
      p Банковские заведения также получают выгоду, ведь такие предложения позволяют расширить круг потенциальных заемщиков. Для кредитования могут учитываться дополнительные параметры, например, может требоваться гражданство, необходимо официально подтвердить уровень доходов. Сумма выплат не должна превышать 40% от общего дохода.
      p <b>Вопреки ряду сложностей и недочетов ипотека без первого взноса достаточно востребована, поскольку позволяет быстро приобретать недвижимость.</b>
      a.btn(href="#") Узнать условия
