section.ipoteka-how-me
  .container
    h2 Почему с нами выгодно сотрудничать?
    .ipoteka-how-me__wrapper
      .ipoteka-how-me__item
        img(src="assets/img/uploads/how-1.png", alt="")
        p Многочисленные отказы от банков по разным причинам – в 80% случаев наши специалисты находят <i>решение за 30 минут!</i>
      .ipoteka-how-me__item
        img(src="assets/img/uploads/how-2.png", alt="")
        p <i>Большая кредитная нагрузка</i> – подберем оптимальную ипотечную программу, даже если вы уже выплачиваете проценты по трем и более кредитам
      .ipoteka-how-me__item
        img(src="assets/img/uploads/how-3.png", alt="")
        p <i>Плохая кредитная история</i> – даже если в прошлом вы несколько раз нарушали сроки платежей, это не станет препятствием на пути к собственному жилью
      .ipoteka-how-me__item
        img(src="assets/img/uploads/how-4.png", alt="")
        p <i>Иностранное или «свежее» российское гражданство</i> знаем, как действовать в этой ситуации!
    .ipoteka-how-me__footer
      p Гарантируем одобрение ипотеки, даже если нет полного комплекта документации!
      a.btn(href="#") Получить консультацию
