section.how-start
  .container
    .how-start__header
      h2 Как все будет происходить?
      p На предварительной консультации мы обсудим текущую ситуацию, выберем ипотечную программу и, при согласии на сотрудничество, подпишем договор. <b>После этого наши специалисты:</b>
    .how-start__body
      .how-start__item
        .how-start__number 1
        .how-start__icon
          img(src="assets/img/uploads/start-1.png", alt="")
        p <b>Подготовят весь пакет документов:</b> проверят реквизиты, правильно заверят копии, убедятся, что итоговый список полностью соответствует требованиям банка
      .how-start__item
        .how-start__number 2
        .how-start__icon
          img(src="assets/img/uploads/start-2.png", alt="")
        p <b>Подберут объект для покупки</b> с учетом ваших пожеланий (новостройка, вторичный рынок)
      .how-start__item
        .how-start__number 3
        .how-start__icon
          img(src="assets/img/uploads/start-3.png", alt="")
        p <b>Проведут независимую оценку объекта</b> (для строящегося жилья эта процедура не проводится)
      .how-start__item
        .how-start__number 4
        .how-start__icon
          img(src="assets/img/uploads/start-4.png", alt="")
        p <b>Проверят юридическую чистоту объекта</b> (кто был прописан, когда и куда выписались, правильные ли реквизиты указаны во всех документах и пр.)
      .how-start__item
        .how-start__number 5
        .how-start__icon
          img(src="assets/img/uploads/start-5.png", alt="")
        p <b>Подадут документы в выбранный банк для одобрения суммы ипотеки</b> (она рассчитывается исходя из результатов независимой оценки).
      .how-start__item
        .how-start__number 6
        .how-start__icon
          img(src="assets/img/uploads/start-6.png", alt="")
        p <b>Оформят договор аванса,</b> помогут внести авансовый платеж так, чтобы исключить любые риски со стороны продавца.В документе обязательно прописывается, что остается в квартире, а что продавец увозит с собой, на каких условиях возвращает аванс и пр.
      .how-start__item
        .how-start__number 7
        .how-start__icon
          img(src="assets/img/uploads/start-7.png", alt="")
        p <b>Подготовят пакет документов для оформления сделки купли-продажи</b>
      .how-start__item
        .how-start__number 8
        .how-start__icon
          img(src="assets/img/uploads/start-8.png", alt="")
        p <b>Помогут застраховать ипотечную недвижимость</b>
      .how-start__item
        .how-start__number 9
        .how-start__icon
          img(src="assets/img/uploads/start-9.png", alt="")
        p <b>Закроют сделку:</b> помогут подписать все необходимые документы (ипотечный договор, закладную, договор купли-продажи и пр.), провести финансовые расчеты, оговорить сроки освобождения квартиры (как в юридическом смысле, так и физическом – к какой дате продавец должен вывезти свои вещи).
      .how-start__item
        .how-start__number 10
        .how-start__icon
          img(src="assets/img/uploads/start-10.png", alt="")
        p <b>Отправят документы на регистрацию,</b> а по её окончанию передадут готовый пакет документов заказчику. Услуга считается выполненной после того, как заказчик получит свидетельство, подтверждающее права собственника, а также все закрывающие документы по сделке.
