.new-footer {
	position: relative;
	background: $primary;
	color: $white;
	padding-bottom: 40px;
	z-index: 1;
	&__wrapper {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
	}
	&__colum {
	}
	&__logo {
		max-width: 282px;
		background: #f8f8f8;
		padding: 22px 33px;
		box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.5);
		display: flex;
		justify-content: center;
		align-items: center;
		transition: all 0.5s ease;
		margin-bottom: 30px;
	}
	&__author {
		p {
			margin: 0;
			font-weight: 500;
			font-size: 14px;
			line-height: 17px;
			letter-spacing: 0.035em;
			color: $white;
			opacity: 0.8;
			margin: 5px 0;
			a {
				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
	&__menu {
		padding-top: 40px;
		.menu {
			margin: 0;
			padding: 0;
			list-style: none;
			&-item {
				padding: 0;
				margin: 0;
				margin-bottom: 15px;
				font-weight: 700;
				text-transform: uppercase;
				color: #ffffff;
				&:last-child {
					margin-bottom: 0;
				}
				&:hover {
					text-decoration: underline;
				}
			}
		}

		&:last-child {
			.menu {
				&-item {
					font-weight: 500;
					text-transform: none;
				}
			}
		}
	}
}
.new-footer-copyright {
	cursor: pointer;
	position: relative;
	margin-bottom: 30px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	&__icon {
		width: 34px;
		height: 34px;
		background: url('../img/icons/info.svg') center center / contain no-repeat;
		margin-right: 10px;
		transition: all 0.5s ease;
		&:hover {
			transform: translateY(-10px);
			.new-footer-copyright__toast {
				visibility: visible;
				opacity: 1;
				transform: translate(0px, 0px);
			}
		}
	}
	&__text {
		font-weight: 500;
		font-size: 14px;
		line-height: 17px;
		letter-spacing: 0.035em;
		color: $white;
	}
	&__toast {
		position: absolute;
		bottom: -20px;
		left: 66px;
		visibility: hidden;
		opacity: 0;
		min-width: 865px;
		padding: 20px 14px;
		background: rgba(#000, 0.9);
		transform: translate(30px, -10px);
		font-weight: 400;
		font-size: 14px;
		line-height: 145.9%;
		color: $white;
		border-radius: 10px;
		z-index: 99999;
		transition: all 0.5s ease;
		p {
			padding: 0;
			margin: 5px 0;
		}
		&::after {
			content: '';
			position: absolute;
			bottom: 20px;
			left: -30px;
			transform: rotate(-90deg);
			border: 15px solid transparent;
			border-bottom: 15px solid rgba(0, 0, 0, 0.9);
		}
	}
}

@include media-tablet {
	.new-footer {
		&__wrapper {
			flex-wrap: wrap;
			justify-content: flex-start;
			column-gap: 120px;
		}
		&__colum {
			order: 1;
			flex: 1 1 100%;
			margin-top: 40px;
		}
	}
	.new-footer-copyright {
		&__toast {
			min-width: 500px;
			transform: translateX(0px);
		}
	}
}
@include media-mobile {
	.new-footer {
		padding-bottom: 20px;
		&__wrapper {
			flex-wrap: wrap;
			justify-content: flex-start;
			column-gap: 120px;
		}
		&__logo {
			width: 150px;
			padding: 10px 18px;
			margin-bottom: 10px;
		}
		&__colum {
			order: 1;
			flex: 1 1 100%;
			margin-top: 0px;
		}
		&__menu {
			display: none;
		}
		&__author {
			p {
				font-size: 10px;
			}
		}
	}
	.new-footer-copyright {
		margin-bottom: 0;
		&__text {
			font-size: 12px;
		}
		&__toast {
			min-width: 250px;
			font-size: 10px;
			left: 45px;
			transform: translateX(0px);
		}
	}
}
